<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="theme">
            <directory suffix="-test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./theme/</directory>
            <exclude>
                <directory>./theme/assets/</directory>
                <directory>./theme/inc/seeder/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
